**/.DS_Store
**/*.swp
**/.DS_Store
public/.DS_Store
**/.svn/*
*.log
*.swp
.DS_Store
.idea/
_qameha.tmproj
config/database.yml
config/deploy.rb
config/deploy/production.rb
config/initializers/site_keys.rb
coverage/*
doc/**/*
docfiles/*
tmp_backup
tmp_backup/
tmp_backup/*
tmp_backup/tests
tmp_backup/tests/
tmp_backup/tests/*
tmp_file_upload
tmp_file_upload/
tmp_file_upload/*
features_rcov/*
log/*
public/docs
public/docs/
public/docs/*
public/fichiers/*
public/logos
public/logos/
public/logos/*
public/photos
public/photos/
public/photos/*
rake.test.out
tmp/*
tmp/**/*
webrat-*.html

