**/.DS_Store
**/*.swp
**/.DS_Store
public/.DS_Store
**/.svn/*
*.log
*.swp
.DS_Store
.idea/
_qameha.tmproj
config/database.yml
config/deploy.rb
config/deploy/production.rb
config/initializers/site_keys.rb
coverage/*
doc/**/*
features_rcov/*
log/*
log/development.log
public/docs
public/docs/
public/docs/*
public/fichiers/*
public/logos
public/logos/
public/logos/*
public/photos
public/photos/
public/photos/*
rake.test.out
tmp/*
tmp/**/*
webrat-*.html

