**/.DS_Store
**/*.swp
**/.svn/*
*.log
*.swp
.DS_Store
_qameha.tmproj
config/database.yml
config/deploy.rb
config/initializers/site_keys.rb
coverage/*
doc/**/*
log/*
nbproject
nbproject/*
nbproject/**/*
public/docs
public/docs/*
public/fichiers/*
public/logos
public/logos/*
public/photos
public/photos/*
rake.test.out
tmp/*
tmp/**/*
webrat-*.html
