
#promo{
	behavior: url(/stylesheets/iepngfix.htc);
}
.fr #promo{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fr/banner_promo.png');
	z-index: 1;
}
#promo a{
	z-index: 1000000;
}
#testimonials p #closeQuote{
	margin-right: 20px;
}
#promo{
	background:url("/images/banner_promo_ie.png");
}
#bottomLoop{
	display: none;
}
.modulePage #testimonials{
}
.modulePage #testimonials p {
}
.modulePage #testimonials #bottom{
	_margin-top: 20px;
}

#subZone #evaluationLogo{
	behavior: url(/stylesheets/iepngfix.htc);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/evaluation_logo.png') !important;
}
strong img{
	left: -25px;
}
.halfZone{
	width: 380px;
}
#subZone #mobilityLogo{
	behavior: url(/stylesheets/iepngfix.htc);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/mobility_logo.png') !important;
}