<div id="content">
	  <h1 id="jobsTitle">
	    <%= t "join_us" %>
	  </h1>
  <p>
    <%= t "jobs_introduction" %>
  </p>
</div>
<div id="cubes"></div>
<br />
<br />
<%= link_to t("contact_us"), contact_path, :id => "contactUs" %>


