<div id="content">
	<h1 id="evaluationTitle"><%= t "evaluation°title"%></h1>
	<p>
		<%= t "evaluation_header"%>
	</p>
</div>
<div id="evaluationLogo"></div>
<%= link_to t("contact_us"), contact_path, :id => "contactUs" %>