<div id="header_right">
  <div id="cubes"></div>
  <%#= link_to "Plans and Pricing", "http://qameha.net", :id => "contactUs" %>
  <%= link_to "Sign up", "http://qameha.net/signup", :id => "contactUs" %>
</div>

<div id="content">
  <h2 class="h2_header">Hire the right people faster<br />at a lower cost
  </h2>
  <p>
    Qameha is the organic supply chain of your recruitment process
  </p>
  <p>
    Define the job, setup the team, track and select candidates,<br /> interview, assess and integrate
  </p>
</div>


