<div id="content">
	<h1 id="mobilityTitle"><%= t "mobility°title"%></h1>
	<p>
		<%= t "mobility_header"%>
	</p>
</div>
<div id="mobilityLogo"></div>
<%= link_to t("contact_us"), "#", :id => "contactUs" %>