<div id="header_right">
<div id="recruitingLogo"></div>
  <%#= link_to "Plans and Pricing", "http://qameha.net", :id => "contactUs" %>
  <%= link_to "Sign up", "http://qameha.net/signup", :id => "contactUs" %>
</div>
<div id="content">
	<%#*<h1 id="recruitingTitle">Streamline your recruitment process</h1>%>
    <h2  class="h2_header">
Qameha is social
    </h2>
	<p>
Quality of recruitment is a direct result of the information sharing and collaboration of the mission team members.
    </p>
</div>





