<div id="content">
	<h1>Recruter Motiver Fidéliser</h1>
	<p>L'application internet simple et complète pour la performance des ressources humaines</p>
</div>
<div id="cubes"></div>
<%= link_to "Contactez - Nous", "#", :id => "contactUs" %>