<div id="content">
	<h1 id="rmfTitle">Recruter Motiver Fidéliser</h1>
	<p>L'application internet simple et&nbsp;complète<br />pour la&nbsp;performance des&nbsp;ressources&nbsp;humaines</p>
</div>
<div id="cubes"></div>
<%= link_to t("contact_us"), contact_path, :id => "contactUs" %>