<div id="content">
	<h1 id="rmfTitle">Recruter Motiver Fidéliser</h1>
	<p>L'application internet simple et complète pour la performance des ressources humaines</p>
</div>
<div id="cubes"></div>
<%= link_to t("contact_us"), contact_path, :id => "contactUs" %>