<div id="teamContent" class="clearfix pageContent classicHtml">
	<div class="fixedWidthContent">		
		<h2>Contactez nous</h2>
		<p>
			Vous souhaitez en apprendre plus sur Qameha ? Vous souhaitez une démonstration ? 
		</p>
		<p>
			<strong>Téléphone: +33 (0) 1 45 81 82 59</strong>
		</p>
		<p>
			<strong>Email: contact@qameha.com</strong>
		</p>
		<p>
			Nous sommes dans l’incubateur Télécom ParisTech depuis début juillet, au 9 rue Dareau.<br /><br />
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=9+Rue+Dareau,+75014+Paris,+France&amp;sll=48.856667,2.350987&amp;sspn=0.32844,0.696945&amp;ie=UTF8&amp;hq=&amp;hnear=9+Rue+Dareau,+75014+Paris,+Ile-de-France,+France&amp;ll=48.831511,2.3385&amp;spn=0.041076,0.087118&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=9+Rue+Dareau,+75014+Paris,+France&amp;sll=48.856667,2.350987&amp;sspn=0.32844,0.696945&amp;ie=UTF8&amp;hq=&amp;hnear=9+Rue+Dareau,+75014+Paris,+Ile-de-France,+France&amp;ll=48.831511,2.3385&amp;spn=0.041076,0.087118&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
		</p>
	</div>
</div>