<div class="clearfix pageContent modulePage ">
  <div class="fixedWidthContent clearfix">

    <div id="assets">
      <h3>
        Le DRH a-t-il les moyens de remplir son
        mandat ?
      </h3>
      <p>&nbsp;</p>
      <h3>
        Quels sont les leviers à sa
        disposition ?
      </h3>
      <p>&nbsp;</p>
      <h3>

        Quelles sont ses difficultés ?
      </h3>
      <p>&nbsp;</p>
      <h3>

        Quels sont ses objectifs et
        besoins ?
      </h3>
      <p>&nbsp;</p>
      <p>
        Pour répondre à ces questions, nous avons mené une enquête auprès de 400 contacts ciblés DG, DRH, DAF au sein d'entreprises de toutes tailles.
      </p>
      <p>
        Un taux de retour de 25 % confirme l'intérêt de nos interlocuteurs pour le sujet traité
      </p>
      <p>&nbsp;</p>

      <p>
        Les réponses données    permettent de dégager certaines tendances sur les pratiques de gestion de performance des ressources humaines,
        les moyens à disposition des dirigeants et DRH, leurs principales difficultés et souhaits d'amélioration.
      </p>
      <p>&nbsp;</p>

      <p>
        Pour plusieurs questions liées à la perception des enjeux, difficultés ou souhaits d'amélioration,
        apparaîssent fortement les différences de vues liée à la position dans l'entreprise (DG ou DRH ou autre membre du comité de direction).
      </p>
      <p style="float:right;padding : 20px;">
              <a href="http://qameha.com/enquete-qameha-performance-ressources-humaines.pdf" class="link" title="Enquête sur les pratiques de gestion de la performance des ressources humaines">
        >> &nbsp; Téléchargez l'enquête Qameha
      </a>

      </p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>

    <div id="testimonials">
      <div id="top"></div>
      <H2 class="text">
      </H2>
      <%#*<ul>%>
        <p  class="text">
      <a href="http://qameha.com/enquete-qameha-performance-ressources-humaines.pdf" class="link" title="Enquête sur les pratiques de gestion de la performance des ressources humaines">
        Téléchargez l'enquête Qameha
      </a>
        </p>
        <p  class="text">
        <b>Contact presse</b>
        <br />Léonard Briot de La Crochais,
<br /><a href="mailto:leonard.briot@qameha.com">leonard.briot@qameha.com</a>
<br />Tél : 01 45 81 82 59 
        </p>
      <%#*</ul>%>
      <div id="bottom"></div>
    </div>

  </div>
</div>
